@import "normalize";

// VARIABLES
$color-primary:    #FFCC00;
$color-secondary:  #FF4040;

$color-gray-dark:  #556270;
$color-gray-mid:   lighten($color-gray-dark, 20%);
$color-gray-light: lighten($color-gray-dark, 55%);

$color-positive:   #00ffc4;

$width-wrapper:   800px;
$padding-section: 5em;

$radius:  5px;

// HELPERS
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%section {
  padding: $padding-section 1em;
}

@import "base";
@import "header";
@import "examples";
@import "instructions";
@import "footer";
